<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>

<select [(ngModel)]="nbSelected">
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    <option *ngFor="let ext of extensions">{{ ext }}</option>
</select>

<p>le nombre d'utilisateurs avec un email qui termine .biz: {{usersExtensionBiz()}} </p>

<form (ngSubmit)="createUser(myform)" #myform="ngForm">
    <div *ngIf="myform.invalid && myform.submitted">
        <div *ngIf="name.hasError('required')">
            Nom est requis
        </div>
        <div *ngIf="email.hasError('required')">
            Email est requis
        </div>
    </div>

    <label>Nom</label>
    <input type="text" name="name" ngModel #name="ngModel" required>

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required>

    <button [ariaBusy]="loading" [disabled]="loading">
        {{ loading ? '' : 'Créer un utilisateur' }}
    </button>
</form>

<app-user-card *ngFor="let u of users() | extFilter:extSelected" [user]="u" (onDelete)="deleteUser($event)" />

