<form (ngSubmit)="login(myform)" #myform="ngForm">

    <div *ngIf="myform.invalid && myform.submitted">
         Formulaire invalide
         <div *ngIf="email.hasError('required')">
            Email est requis
         </div>
         <div *ngIf="email.hasError('minlength')">
             Vous avez mis {{ email.errors!['minlength'].actualLength }} caractères, 
             {{ email.errors!['minlength'].requiredLength }} caractères requis
         </div>
    </div>

    <div [ngClass]="{ red: myform.invalid, green: myform.valid }">
        Un test
    </div>

    <div [ngStyle]="{ color: 'red', fontWeight: 'bold' }">
        test 2
    </div>

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required minlength="3">

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Connexion</button>
</form>